doctype html
html
    head
        meta(charset='utf-8')
    body
        ul#account
            if user
                li
                    a(href='/auth/logout') 로그아웃
            else
                li
                    a(href='/auth/register') 회원가입
                li
                    a(href='/auth/login') 로그인
        h1
            a(href='/home') 라포(Rapport)에 오신 것을 환영합니다!
        ul
            each row in rowS
                li
                    a(href='/home/'+row.id)=row.title
        block content